footer {
    background-color: var(--firstColor);
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer p {
    color: var(--thirdColor);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

.footer__container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 44px 0 170px 0;
    width: 100%;
}

.footer__logo {
    display: flex;
    margin: 0 82px 0 0;

}

.footer__menu {
    display: flex;
    margin: 0 300px 0 0;
}

.footer__menu_list {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.footer__menu_list :nth-child(-n+5) {
    width: 90px;
}

.footer__menu_item:hover {
    list-style-type: disc;
}


.footer__menu_item a {
    color: var(--thirdColor);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;

}

.footer__menu_item:nth-child(-n+5) {
    margin: 0 0 24px 0;
}

.footer__menu_item :hover {
    color: var(--secondColor);
    font-weight: bold;
}

.footer__information {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.footer__contuct-us {
    display: flex;
    flex-direction: column;
    margin: 0 64px 0 0;
}

.footer__contuct-us h3 {
    margin: 0 0 32px 0;
}

.footer__contuct-us :nth-child(2) {
    margin: 0 0 24px 0;
}

.footer__visit-us {
    display: flex;
    flex-direction: column;
    margin: 0 64px 0 0;
}

.footer__visit-us :nth-child(2) {
    margin: 0 0 24px 0;
}

.footer__visit-us h3 {
    margin: 0 0 32px 0;
}

.footer__follow-us {
    display: flex;
    flex-direction: column;
}

.footer__follow-us h3 {
    margin: 0 0 32px 0;
}

.footer__container-media {
    display: flex;
    flex: row;
}

.footer__container-media a :nth-child(-n+3) {
    margin: 0 13px 0 0;
}


@media (max-width:1024px) {
    .footer__container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 24px 0 67px 0;
    }

    .footer__logo {
        margin: 24px 0 0 0;
    }

    .footer__menu {
        margin: 25px 0 0 10px;
    }

    .footer__menu nav {
        margin: 0;
    }

    .footer_menu__item:nth-child(-n+5) {
        margin: 0 0 16px 0;
    }

    .footer__information {
        display: flex;
        flex-direction: column;
        margin: 25px 0 65px 0;
    }

    .footer__contuct-us {
        margin: 0;
    }

    .footer__contuct-us h3 {
        margin: 0 0 16px 0;
    }

    .footer__contuct-us :nth-child(2) {
        margin: 0 0 16px 0;
    }

    .footer__visit-us {
        margin: 24px 0 0 0;
    }

    .footer__visit-us h3 {
        margin: 0 0 16px 0;
    }

    .footer__visit-us :nth-child(2) {
        margin: 0 0 16px 0;
    }

    .footer__follow-us {
        margin: 24px 0 0 0;
    }

    .footer__follow-us h3 {
        margin: 0 0 25px 0;
    }
}