header {
    align-items: center;
    background-color: var(--firstColor);
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 23px 0;
    width: 100%;
}

.header__shopping-bag-mobile {
    display: none;
}

.bag_img {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.header__menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.header__logo {
    display: flex;
}

.header__menu_list {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.header__menu_item a{
    align-items: center;
    color: var(--thirdColor);
    display: flex;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    margin-right: 40px;
}

.header__menu_item a:hover {
    color: var(--secondColor);
    font-weight: bold;
    list-style-type: disc !important;
}

.header__shopping-bag {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 40px 0 0;
}

.header__shopping-bag a {
    margin-right: 8.27px;
}

.header__shopping-bag p {
    color: var(--thirdColor);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 29px;
}

.header__buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__button-first {
    width: 165px;
    margin: 0 8px 0 0;
}

.header__button-second {
    width: 165px;
}



@media (max-width:1024px) {
    body.lock {
        overflow: hidden;
    }

    header {
        align-items: center;
        background-color: var(--firstColor);
        display: flex;
        height: 68px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 50;
    }

    .header__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .header__burger-menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .header__burger-menu.active {
        display: flex;
        justify-content: flex-end;
    }

    .header__burger {
        display: block;
        height: 20px;
        left: 3px;
        position: relative;
        width: 30px;
        z-index: 3;
    }

    .header__burger span {
        background-color: var(--thirdColor);
        height: 4px;
        left: 0;
        position: absolute;
        top: 8px;
        transition: all 0.3s ease 0s;
        width: 100%;
    }

    .header__burger:before,
    .header__burger:after {
        background-color: var(--thirdColor);
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        transition: all 0.3s ease 0s;
        width: 100%;
    }

    .header__burger.active {
        margin: 39px 0 0 0;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 7px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__shopping-bag-mobile {
        display: block;
    }

    .header__shopping-bag-mobile.active {
        display: none;
    }

    .header__shopping-bag-mobile p {
        display: block;
        margin: 0 0 0 6px;
    }

    .header__shopping-bag {
        display: none;
    }

    .header__shopping-bag-mobile p {
        color: var(--thirdColor);
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: normal;
        line-height: 29px;
    }

    .header__menu {
        align-items: flex-start;
        background-color: var(--firstColor);
        display: flex;
        height: 100%;
        left: 0;
        overflow: auto;
        padding: 64px 16px 64px 16px;
        position: fixed;
        top: -100%;
        transition: all 0.3s ease 0s;
        width: 100%;
    }

    .header__menu.active {
        display: flex;
        flex-direction: column;
        top: 0;
    }

    .header__logo {
        height: 36px;
        margin: 7px 0 0 0;
        width: 110px;
    }

    .header__logo img {
        width: 100%;
    }

    .header__menu_list {
        align-items: flex-start;
        display: flex;
        flex-direction: column;

    }

    .header__menu_item:nth-child(2),
    .header__menu_item:nth-child(3) {
        margin: 32px 0 0 0;
    }

    .header__buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header__button-first {
        width: 100%;
    }

    .header__button-second {
        width: 100%;
        margin: 16px 0 0 0;
    }

}