.home {
    background: url("../img/allef-vinicius.png") top left/cover no-repeat;
    display: flex;
    display: flex;
    justify-content: center;
    margin: 98px 0 0 0;
    width: 100%;
}

.home__container {
    display: flex;
    padding: 309px 0 311px 0;
}

.home__container-discription {
    display: flex;
    flex-direction: column;
}

.home__discription-text {
    display: flex;
    margin-top: 73.21px;
    width: 601px;
}

.home__discription-text p {
    color: var(--fourColor);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
}

.home__button-second {
    margin-top: 44px;
    width: 165px;
}

@media (max-width:1024px) {
    .home {
        background: url("../img/allef-vinicius-320.png") top left/cover no-repeat;
        height: 100%;
        margin: 67px 0 0 0;
    }

    .home__container {
        padding: 213px 0 52px 0;
        width: 100%;
    }

    .home__discription-logo {
        width: 100%;
    }

    .home__discription-logo img {
        width: 100%;
    }

    .home__discription-text {
        margin: 33px 0 0 0;
        width: 100%;
    }
    .home__discription-text p{
        font-size: 16px;
        font-weight: normal;
    }

    .home__button-second {
        margin: 16px 0 52px 0;
        width: 100%;
    }


}