.home {
    display: flex;
    justify-content: center;
    background: url("../img/allef-vinicius.png") top left/cover no-repeat;
    margin: 98px 0 0 0;
    width: 100%;
    display: flex;
}

.home__discription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 209px 0 311px 0;
}

.home__discription-container {
    display: flex;
}

.home__discription-text {
    display: flex;
    width: 601px;
    margin-top: 73.21px;
}

.home__discription-text p {
    color: var(--fourColor);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
}

.home__button-second {
    margin-top: 44px;
    width: 165px;
}

@media (max-width:1024px) {
    .home {
        margin: 67px 0 0 0;
        background: url("../img/allef-vinicius-320.png") top left/cover no-repeat;
        height: 100%;
    }

    .home__discription {
        margin: 213px 0 0 0;
        width: 100%;
    }

    .home__discription-logo {
        width: 100%;
    }

    .home__discription-logo img {
        width: 100%;
    }

    .home__discription-text {
        margin: 33px 0 0 0;
        width: 100%;
    }
    .home__discription-text p{
        font-size: 16px;
        font-weight: normal;
    }

    .home__button-second {
        margin: 16px 0 52px 0;
        width: 100%;
    }


}