@import "./reset.css";
@import "./header.css";
@import "./footer.css";
@import "./home.css";
@import "./team.css";
@import "./form.css";
@import "./contacts.css";
@import "./products.css";
@import "./services.css";
@import "./reviews.css";


:root {
    --firstColor: #222222;
    --secondColor: #FF7A00;
    --thirdColor: #FFFFFF;
    --fourColor: #FFF1E3;
    --fiveColor: #FFF2E5;
    --sixColor: #000000;
    --sevenColor: #C4C4C4;
    --eightColor: #3D3A37;
    --nineColor: #DFDFDF;
    --tenColor: #D8D8D8;
}


* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100%;
}

body,
input,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ol,
ul,
li {
    list-style-type: none;
}

ul li::marker {
    color: var(--secondColor);
}

.container {
    margin: 0 260px;
    max-width: 1400px;
    width: 100%;
}

.button-first {
    align-items: center;
    background: var(--firstColor);
    border-radius: 4px;
    border: 1px solid var(--fiveColor);
    color: var(--thirdColor);
    cursor: pointer;
    display: flex;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    height: 52px;
    justify-content: center;
    line-height: 20px;
    outline: none;
    text-transform: uppercase;
}

.button-second {
    align-items: center;
    background: var(--secondColor);
    border-radius: 4px;
    border: none;
    color: var(--thirdColor);
    cursor: pointer;
    display: flex;
    font-family: Montserrat;
    font-size: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    height: 52px;
    justify-content: center;
    line-height: 20px;
    line-height: 20px;
    outline: none;
    text-transform: uppercase;
}

.title {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.title__text {
    align-items: center;
    color: var(--secondColor);
    display: flex;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: bold;
}

.title__circle {
    background-color: var(--secondColor);
    border-radius: 50%;
    height: 21px;
    margin-right: 24px;
    width: 21px;
}

.arrow-right a {
    border-radius: 2px;
    border-right: 4px solid var(--secondColor);
    border-top: 4px solid var(--secondColor);
    height: 20px;
    transform: rotate(45deg);
    width: 20px;
}

.arrow-left a {
    border-radius: 2px;
    border-right: 4px solid var(--secondColor);
    border-top: 4px solid var(--secondColor);
    height: 20px;
    transform: rotate(225deg);
    width: 20px;
}

h3 {
    color: var(--thirdColor);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

/* Slider */

.slider {
    max-width: 500px;
    padding: 40px 0;
}

.slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.slider__box {
    width: 202px;
    height: 300px;
    position: relative;
}

.slider__box::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FF7A00;
    top: -10px;
    right: -10px;
    z-index: -1;
}

.slider__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__content {
    margin-top: 40px;
    max-width: 400px;
}

.slider__title {
    color: #FF7A00;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.slider__text {
    font-size: 16px;
    line-height: 20px;
    color: var(--firstColor);
}

.slider__text--white {
    color: var(--thirdColor);

}

.swiper-button-next, .swiper-button-prev {
    color: #FF7A00;
}

@media (max-width:1024px) {
    .container {
        margin: 0 16px 0 16px;
    }

    .title__text {
        align-items: center;
        color: var(--secondColor);
        display: flex;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    
    .title__circle {
        background-color: var(--secondColor);
        border-radius: 50%;
        height: 9px;
        margin-right: 8px;
        width: 9px;
    }

    .slider {
        max-width: 350px;
        padding: 40px 0;
    }
}