.reviews {
    background: url(../img/arthur-humeau-opacity.jpg) left/cover no-repeat;
    display: flex;
    justify-content: center;
    width: 100%;
}

.reviews__bg {
    display: flex;
}


.reviews__container {
    display: flex;
    flex-direction: column;
    padding: 64px 0 100px 0;
}

.reviews__title {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.reviews__photos {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 80px 0 0 214px;
    position: relative;
}

.reviews__arrow-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 37px 0 0;
    height: 70px;
}

.reviews__reactengle {
    background-image: url(/img/Rectangle.png);
    height: 330px;
    left: 225px;
    position: absolute;
    top: -15px;
    width: 202px;
}

.reviews__slider {
    width: 197px;
    height: 300px;
}

.reviews__slider-line {
    display: flex;
    flex-direction: row;
    height: 300px;
    left: 0;
    position: relative;
    transition: all ease 1s;
    width: 788px;
}

.reviews__slider-line :nth-child(-n+3) {
    margin: 0 4px 0 0;
}

.reviews__arrow-right {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
    margin: 0 0 0 487px;
}

.reviews__discription {
    display: flex;
    flex-direction: column;
    margin: 62px 0 0 438px;
    width: 600px;
}

.reviews__description-name p {
    color: var(--secondColor);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
}

.reviews__discription-text {
    margin: 24px 0 0 0;
}

.reviews__discription-text p {
    color: var(--fourColor);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

@media (max-width:1024px) {
    .reviews {
        display: flex;
        margin: 0;
        width: 100%;
    }

    .reviews__container {
        padding: 32px 0 65px 0;
    }

    .reviews__title {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    .reviews__photos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        position: relative;
        width: 100%;
    }

    .reviews__arrow-left {
        display: none;
    }

    .reviews__reactengle {
        background-image: url(/img/Rectangle.png);
        height: 330px;
        left: 24px;
        position: absolute;
        top: -15px;
        width: 202px;
    }

    .reviews__slider {
        width: 197px;
        height: 300px;
        overflow: hidden;
    }

    .reviews__slider-line {
        display: flex;
        flex-direction: row;
        height: 300px;
        left: 0;
        position: relative;
        transition: all ease 1s;
        width: 788px;
    }

    .photo-first img {
        width: 202px;
        height: 300px;
    }

    .photo-second {
        width: 202px;
        height: 300px;
    }

    .photo-third {
        width: 202px;
        height: 300px;
    }

    .photo-fourth {
        width: 202px;
        height: 300px;
    }

    .reviews__arrow-right {
        height: 53px;
        margin: 0 0 0 35px;
        width: 53px;
    }



    .reviews__discription {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin: 41px 0 65px 0;
        width: 100%;
    }

    .reviews__discription-text {
        margin: 16px 0 0 0;
    }
}