.team {
    display: flex;
    justify-content: center;
    width: 100%;
}

.team__container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 106px 0 100px 0;
    width: 100%;
}

.team__container-photos {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.team__rectangle {
    background-image: url(/img/Rectangle\ 11.png);
    height: 334px;
    left: 220px;
    position: absolute;
    top: -20px;
    width: 200px;
}

.team__slider {
    height: 300px;
    width: 196px;
}

.team__slider-line {
    display: flex;
    height: 300px;
    left: 0;
    position: relative;
    transition: all ease 1s;
    width: 788px;
}
.team__slider-line :nth-child(-n+3){
    margin: 0 4px 0 0;
}


.team__arrow-right {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 53px;
    justify-content: center;
    margin: 0 0 0 590px;
    width: 53px;
}

.team__discription {
    display: flex;
}

.team__title {
    justify-content: flex-end;
    margin: 0 0 44px 0;
}

.team__discription-name {
    color: var(--secondColor);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    margin: 24px 0 0 0;
}

.team__discription-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 441px;
}

.team__discription-text p {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
}

@media (max-width:1024px) {
    .team {
        margin: 32px 0 76px 0;
    }

    .team__container {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .team__container-photos {
        display: flex;
        position: relative;
        width: 100%;
    }

    .team__rectangle {
        background-image: url(/img/Rectangle\ 11.png);
        height: 334px;
        left: 20px;
        position: absolute;
        top: -20px;
        width: 200px;
    }

    .team__slider {
        height: 294px;
        overflow: hidden;
        width: 196px;
    }

    .team__slider-line {
        display: flex;
        height: 300px;
        left: 0;
        position: relative;
        transition: all ease 1s;
        width: 788px;
    }

    .team__container-photos :nth-child(-n+3) {
        margin: 0;
    }

    .photo-first {
        margin: 0;
    }

    .photo-second {
        margin: 0;
    }

    .photo-third {
        margin: 0;
    }

    .photo-four {
        margin: 0;
    }

    .team__arrow-right {
        height: 53px;
        margin: 0 0 0 35px;
        width: 53px;
    }

    .team__discription {
        margin: 41px 0 0 0;
        width: 100%;
    }

    .team__title {
        display: flex;
        justify-content: start;
        margin: 0 0 41px 0;
    }

    .team__discription-name {
        font-size: 16px;
        margin: 0 0 16px 0;
    }

    .team__discription-text {
        width: 100%;
        font-size: 16px;
    }
}